@model IEnumerable<MovieRating.Models.Reviewer>

<div class="text-center">
    <h2 class="display-4">MOVIES</h2>
</div>
<div class="text-center">
    <div class="p-3 mb-2 bg-dark text-white">Index of Reviewers</div>
</div>

<form role="form" asp-action="ViewReviewer">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>

                </tr>
            }
        </tbody>
    </table>

</form>
