


@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}





<div class="text-center">
    <div class="p-3 mb-2 bg-dark text-white">MOVIE</div>
   
</div>
<div class="container">
    <div class="form-group">
       
        <p class="text-primary">Movies</p>
        <style>
            .submit {
                margin: 25px;
            }

            .submit {
                margin: 25px;
            }
        </style>
        <input type="submit" value="Add Movie" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Movie")'">
        <input type="submit" value="View Movie" class="btn btn-primary" onclick="location.href='@Url.Action("ViewMovie", "Movie")'">
        <br />
        <br />
        <p class="text-primary">Reviewer Details</p>
        <style>
            .submit {
                margin: 25px;
            }

            .submit {
                margin: 25px;
            }
        </style>
        <input type="submit" value="Add Reviewer Details" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ReviewerDetails")'">
        <input type="submit" value="View Reviewer Details" class="btn btn-primary" onclick="location.href='@Url.Action("ViewReviewerDetails", "ReviewerDetails")'">
        <br />
        <br />
        <p class="text-primary">Movie Ratings</p>
        <style>
            .submit {
                margin: 25px;
            }

            .submit {
                margin: 25px;
            }
        </style>
        <input type="submit" value="Add Rating" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Ratings")'">
        <input type="submit" value="View Ratings" class="btn btn-primary" onclick="location.href='@Url.Action("ViewRating", "Ratings")'">
    </div>
</div>
