@model MovieRating.Models.Rating

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewerDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewerDetails.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingStar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingStar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewComment)
        </dd>
    </dl>
</div>

